<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# ***Access DB2 on Cloud using Python***

Estimated time needed: **15** minutes

## ***Objectives***

After completing this lab you will be able to:

*   Create a table.
*   Insert data into the table.
*   Query data from the table.
*   Retrieve the result set into a pandas dataframe.
*   Close the database connection.

$ \ $

----

***Note (instructions).*** 


Please follow the instructions given in the first Lab of this course to Create a database service instance of Db2 on Cloud.

$ \ $ 

----

## ***Task 1: Import the `ibm_db` Python library.***

$ \ $ 


The `ibm_db` [API ](https://pypi.python.org/pypi/ibm_db/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01) provides a variety of useful Python functions for accessing and manipulating data in an IBM® data server database, including functions for connecting to a database, preparing and issuing SQL statements, fetching rows from result sets, calling stored procedures, committing and rolling back transactions, handling errors, and retrieving metadata.

In [1]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-cp38-cp38-linux_x86_64.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.44-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-2.0.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (544 kB)
Installing collected packages: greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: greenlet
    Found existing installation: greenlet 2.0.1
    Uninstalling greenlet-2.0.1:
      Successfully uninstalled greenlet-2.0.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
Successfully installed greenlet-2.0.1 ibm-db-3.1.0 ibm-db-sa-0.3.3 sqlalchemy-1.4.44
Found existing installation: SQLAlchemy 1.4.44
Uninstalling SQLAlchemy-1.4.44:
  Successfully uninstalled SQLAlchemy-1.4.44
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp38-cp38-manylinux2010_x86_64.whl (1.3 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.8/dist-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.8/dist-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)

$ \ $

----

When the following command is complete, the `ibm_db` library is loaded in your notebook.

In [2]:
import ibm_db

$ \ $ 

----

# ***Task 2: Identify the database connection credentials.***

Connecting to dashDB or DB2 database requires the following information:

*   Driver Name.
*   Database name.
*   Host DNS name or IP address.
*   Host port.
*   Connection protocol.
*   User ID.
*   User Password.

$ \ $ 

## ***Note (credentials).*** 


(1) To obtain credentials please refer to the instructions given in the first Lab of this course.

(2) Now enter your database credentials below.

(3) Replace the placeholder (marcador de posición)  values in angular brackets <> below with your actual database credentials e.g. replace "database" with "bludb".

In [3]:
# hostname = nombre del anfitrion
dsn_hostname = "21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud" 

# identification =identificación
dsn_uid = "kdf88704"

# password = clave
dsn_pwd = "AKLFUzekOxxoDM2t"   

# driver = conductor
dsn_driver = "{IBM DB2 ODBC DRIVER}"

# database = base de datos
dsn_database = "bludb"  

# port = puerto
dsn_port = 31864  

# protocol = protocol
dsn_protocol = "TCPIP" 

# security = seguridad
dsn_security = "SSL"

$ \ $

-------


# ***Task 3: Create the database connection.***

`Ibm_db` API uses the IBM Data Server Driver for ODBC and CLI APIs to connect to IBM DB2 and Informix.

In [4]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

In [5]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  kdf88704 on host:  21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

$ \ $ 

------

## ***Task 4: Create a table in the database.***

In this step we will create a table in the database with following details:

<img src = "https://ibm.box.com/shared/static/ztd2cn4xkdoj5erlk4hhng39kbp63s1h.jpg" align="center">

In [6]:
# Lets first drop the table INSTRUCTOR in case it exists from a previous attempt.
# Es importante notar que esta es precisamente la instruccion que se le da a SQL para borrar una tabla.
dropQuery = "drop table INSTRUCTOR"

In [7]:
# Now execute the drop statment.
# dropStmt = ibm_db.exec_immediate(conn, dropQuery)

$ \ $


## ***Dont worry if you get this error:***

If you see an exception/error similar to the following, indicating that INSTRUCTOR is an undefined name, that's okay. It just implies that the INSTRUCTOR table does not exist in the table - which would be the case if you had not created it previously.

$ \ $

*Exception: \[IBM]\[CLI Driver]\[DB2/LINUXX8664] SQL0204N  "ABC12345.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204*

$ \ $ 

-----

<img src = "https://ibm.box.com/shared/static/ztd2cn4xkdoj5erlk4hhng39kbp63s1h.jpg" align="center">

In [8]:
# creamos el comando de SQL que construye la estructura de la tabla mostrada en la figura anterior.
createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, fname VARCHAR(20), lname VARCHAR(20), city VARCHAR(20), ccode CHAR(2))"

# usando la cadena anterior crear la tabla.
createStmt = ibm_db.exec_immediate(conn, createQuery)

In [9]:
# dropStmt = ibm_db.exec_immediate(conn, "drop table INSTRUCTOR")

$ \ $

-------

## ***Task 5: Insert data into the table.***

In this step we will insert some rows of data into the table. The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://ibm.box.com/shared/static/j5yjassxefrjknivfpekj7698dqe4d8i.jpg" align="center">


$ \ $ 

-----

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [10]:
# Ponemos los datos del primer renglón de la tabla anterior en formato SQL.
insertQuery_1 = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

# Ejecutamos la sentencia anterior para crear realmente el renglón 1 mostrado anteriormente.
insertStmt = ibm_db.exec_immediate(conn, insertQuery_1)

In [11]:
# Construimos ahora el segundo renglon de la tabla en formato SQL.
insertQuery_2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA')"

# Ejecutamos la sentencia anterior para crear realmente el renglón 2 mostrado anteriormente.
insertStmt = ibm_db.exec_immediate(conn, insertQuery_2)

In [12]:
# Construimos ahora el renglón 3 y 4 de la tabla en formato SQL.
insertQuery_34 = "insert into INSTRUCTOR values (3, 'Andres', 'Chong', 'Markham', 'CA'), (4, 'Julian', 'Uribe', 'Medellin', 'CO')"

# Ejecutamos la sentencia anterior para crear realmente los renglones 3 y 4
insertStmt = ibm_db.exec_immediate(conn, insertQuery_34)

$ \ $

------

## ***Task 6: Query data in the table.***

In this step we will retrieve data we inserted into the INSTRUCTOR table.

In [13]:
# Construimos la consulta que recupera todos los renglones de la tabla INSTRUCTOR en formato SQL.
select_Query = "select * from INSTRUCTOR"

# Ejecutamos la sentencia anterior para recuperar realmente 
select_Stmt = ibm_db.exec_immediate(conn, select_Query)
select_Stmt

<img src="https://ibm.box.com/shared/static/j5yjassxefrjknivfpekj7698dqe4d8i.jpg" align="center">

In [14]:
help(ibm_db.fetch_both)

Help on built-in function fetch_both in module ibm_db:

fetch_both(...)
    Returns a dictionary, indexed by both column name and position, representing a row in a result set

In [15]:
# Obtenemos el primer renglón de la tabla INSTRUCTOR en forma de diccionario ().
ibm_db.fetch_both(select_Stmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [16]:
help(ibm_db.fetch_row)

Help on built-in function fetch_row in module ibm_db:

fetch_row(...)
    Sets the result set pointer to the next row or requested row

In [17]:
ibm_db.fetch_row(select_Stmt)

True

In [18]:
help(ibm_db.result)

Help on built-in function result in module ibm_db:

result(...)
    Returns a single column from a row in the result set

In [19]:
ibm_db.result(select_Stmt, "FNAME")

'Raul'

In [20]:
dropStmt = ibm_db.exec_immediate(conn, "drop table INSTRUCTOR")


createQuery = "create table INSTRUCTOR(id INTEGER PRIMARY KEY NOT NULL, fname VARCHAR(20), lname VARCHAR(20), city VARCHAR(20), ccode CHAR(2))"
createStmt = ibm_db.exec_immediate(conn, createQuery)


insertQuery_1 = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"
insertStmt = ibm_db.exec_immediate(conn, insertQuery_1)


insertQuery_2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA')"
insertStmt = ibm_db.exec_immediate(conn, insertQuery_2) 


insertQuery_34 = "insert into INSTRUCTOR values (3, 'Andres', 'Chong', 'Markham', 'CA'), (4, 'Julian', 'Uribe', 'Medellin', 'CO')"
insertStmt = ibm_db.exec_immediate(conn, insertQuery_34)


select_Query = "select * from INSTRUCTOR"
select_Stmt = ibm_db.exec_immediate(conn, select_Query)

In [21]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(select_Stmt) != False:
   print("ID:",  ibm_db.result(select_Stmt, 0), "FNAME:",  ibm_db.result(select_Stmt, "FNAME"))

ID: 1 FNAME: Rav
ID: 2 FNAME: Raul
ID: 3 FNAME: Andres
ID: 4 FNAME: Julian

 $ \ $

-----
## ***Bonus.***

Now write and execute an update statement that changes the Rav's CITY to MOOSETOWN

<img src="https://ibm.box.com/shared/static/j5yjassxefrjknivfpekj7698dqe4d8i.jpg" align="center">

In [22]:
update_Query = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
update_Stmt = ibm_db.exec_immediate(conn, update_Query)

$ \ $

------

## ***Task 7: Retrieve data into Pandas***

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe.

In [23]:
import pandas
import ibm_db_dbi

In [24]:
# connection for pandas
# conn = ibm_db.connect(dsn, "", "")
p_conn = ibm_db_dbi.Connection(conn)

<img src="https://ibm.box.com/shared/static/j5yjassxefrjknivfpekj7698dqe4d8i.jpg" align="center">

In [25]:
#query statement to retrieve all rows in INSTRUCTOR table
select_Query = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pandas_df = pandas.read_sql(select_Query, p_conn)
pandas_df

   ID   FNAME  LNAME       CITY CCODE
0   1     Rav  Ahuja  MOOSETOWN    CA
1   2    Raul  Chong    Markham    CA
2   3  Andres  Chong    Markham    CA
3   4  Julian  Uribe   Medellin    CO

In [26]:
#print just the LNAME for first row in the pandas data frame
pandas_df.LNAME[0]

'Ahuja'

In [27]:
pandas_df.LNAME

0    Ahuja
1    Chong
2    Chong
3    Uribe
Name: LNAME, dtype: object

$ \ $

-------

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [28]:
(pandas_df).shape

(4, 5)

$ \ $

---

## ***Task 8: Close the Connection.***

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [29]:
ibm_db.close(conn)

True

$ \ $

------

## ***Summary.***

In this tutorial you established a connection to a database instance of DB2 Warehouse on Cloud from a Python notebook using ibm_db API. Then created a table and insert a few rows of data into it. Then queried the data. You also retrieved the data into a pandas dataframe.

$ \ $ 

-----

## ***Author.***

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2021-11-17        | 2.2     | Lakshmi    | Updated library                    |
| 2021-07-09        | 2.1     | Malika     | Updated connection string          |
| 2020-08-28        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>